<div class="mat-elevation-z8">
 
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" >



    <ng-container matColumnDef="Id">
      <mat-header-cell *matHeaderCellDef> Patient Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Nombre">
      <mat-header-cell *matHeaderCellDef > Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Nombre}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="NroDocumento">
      <mat-header-cell *matHeaderCellDef> NroDocumento </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.NroDocumento}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="FechaAlta">
      <mat-header-cell *matHeaderCellDef > FechaAlta </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.FechaAlta}} </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> 
  </mat-table>
  <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
