<section>
    <!-- <h2>TimesPan from npm </h2>
    <label for="" class="col-lg-2  text-danger">HH:MM a convertir </label>
    <div class="col-lg-4">
      <input class="form-control" #txtBox_hhmm (keyup.enter)="timeSpanParse2(txtBox_hhmm.value);" value="11:52:15"/>
    </div>
    <label for="" class="col-lg-2 text-info">Timespan.TotalMilliseconds </label>
    <div class="col-lg-4">
      <input class="form-control"  [(ngModel)]="time_start.TotalMilliseconds"     />
    </div> -->

  <h2>TimesPan </h2>
  <label for="" class="col-lg-2  text-danger">HH:MM a convertir </label>
  <div class="col-lg-4">
    <input class="form-control" #txtBox_hhmm (keyup.enter)="timeSpanParse(txtBox_hhmm.value);" value="11:52:15"/>
  </div>
  <label for="" class="col-lg-2 text-info">Timespan.Fecha </label>
  <div class="col-lg-4">
    <input class="form-control"  [(ngModel)]="time_start.Fecha"     />
  </div>

  <label for="" class="col-lg-2 text-info">Timespan.TotalDays </label>
  <div class="col-lg-4">
    <input class="form-control"  [(ngModel)]="time_start.TotalDays"     />
  </div>

  
  <label for="" class="col-lg-2 text-info">Timespan.TotalHours </label>
  <div class="col-lg-4">
    <input class="form-control "  [(ngModel)]="time_start.TotalHours"     />
  </div>  
  <label for="" class="col-lg-2 text-info">Timespan.TotalMinutes </label>
  <div class="col-lg-4">
    <input class="form-control "  [(ngModel)]="time_start.TotalMinutes"     />
  </div>  


  <label for="" class="col-lg-2 text-info">Timespan.TotalSeconds </label>
  <div class="col-lg-4">
    <input class="form-control "  [(ngModel)]="time_start.TotalSeconds"     />
  </div>  

  <label for="" class="col-lg-2 text-info">Timespan.TotalMilliseconds </label>
  <div class="col-lg-4">
    <input class="form-control "  [(ngModel)]="time_start.TotalMilliseconds"     />
  </div>  
  <label for="" class="col-lg-2 text-info">Timespan.Tick </label>
  <div class="col-lg-4">
    <input class="form-control"  [(ngModel)]="time_start.Tick"     />
  </div>

</section>

<div class="form-group row">
  
  <h2>Week Day control  </h2>
  
    <label for="" class="col-lg-2">Nomero a convertir </label>
    <div class="col-lg-4">
      <input class="form-control" #txtBox_Numero (keyup.enter)="convertToBase2(txtBox_Numero.value);"     />
    </div>
    <label for="" class="col-lg-2">weekdays_to_bin </label>
    <div class="col-lg-4">
        <input class="form-control" [(ngModel)]="weekdays_to_bin"     />
      </div>
    
      <label for="" class="col-lg-2">weekdays_to_bin_Array </label>
      <div class="col-lg-4">
          <input class="form-control" [(ngModel)]="weekdays_to_bin_Array"     />
        </div>
    
        <label for="" class="col-lg-2">Stack </label>
        <div class="col-lg-4">
            <input class="form-control" [(ngModel)]="stackk"     />
          </div>
      
          <label for="" class="col-lg-2">Lista de dias </label>
          <div class="col-lg-4">
              <input class="form-control" [(ngModel)]="selectedDaysList"     />
            </div>
        
  </div>
  

<section>
  <h2>Controles conglyphicon </h2>
  <div class="input-group">
    <span class="input-group-addon">
      <i class="glyphicon glyphicon-lock"></i>
    </span>
    <input id="password" type="password" class="form-control" name="password" placeholder="Password">
  </div>

</section>

<section>

  <header class="header">

    <div class="form-group row">
      <label for="" class="col-lg-2">Nombre </label>
      <div class="col-lg-10">
        <input class="form-control" name="qq" type="text" [(ngModel)]="currentPatient.Persona.Nombre">
      </div>
    </div>
    <div class="form-group row">
      <label for="" class="col-lg-2">Apellido </label>
      <div class="col-lg-10">
        <input class="form-control" name="qq3" type="text" [(ngModel)]="currentPatient.Persona.Apellido">
      </div>
    </div>
    <div class="form-group row">
  
  

      <label for="" class="col-lg-2">Fecha Alta 2</label>
      <div class="col-lg-10">
        <input class="form-control" type="date" #myDate 
        [value]="currentPatient.FechaAlta | date:'yyyy-MM-dd'" (input)="currentPatient.FechaAlta=commonService.parseDate($event.target.value)" />
      </div>

     
    </div>
    <div class="form-group row">
      <label for="" class="col-lg-2">Fecha Alta 3</label>
      <div>
        <input type="date" [ngModel] ="currentPatient.FechaAlta | date:'yyyy-MM-dd'" 
        (ngModelChange)="currentPatient.FechaAlta = $event" [value]="datee | date:'yyyy-MM-dd'">
        {{currentPatient.FechaAlta| date:'yyyy-MM-dd'}}
      </div>
    </div>
  </header>



</section>

<div class="text-center alert">
  {{currentPatient | json}}

</div>
<!-- <app-tabla tipoTabla="Esta tabla si anda desde persons" ></app-tabla> -->


<div class="alert alert-success" role="alert">
  <div class="btn-group" dropdown keyboardNav="true">
    <button id="pepe" dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
      Listado de paises
      <span class="caret"></span> {{selectedPais}} </button>
    <ul *dropdownMenu class="dropdown-menu" role="<menubar></menubar>" aria-labelledby="pepe">
      <li role="menuitem" *ngFor="let pais of paises">
        <a class="dropdown-item" href="setCountry/{{pais}}"> {{pais}}</a>
      </li>

    </ul>
  </div>
</div>

<label for="selectedPais"> Pais seleccionado</label>
<div>{{selectedPais}}</div>
<button class="btn btn-danger" (mouseout)="seMovio($event)" (click)="createPatient($event)">Crear paciente</button>
<button class="btn btn-default" (click)="reriveAllPatientList($event)">Buscar pacientes -->reriveAllPatientList</button>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Listado de pacientes</h3>

  </div>
  <div class="panel-body">


    <div *ngFor="let patient of patientList">
      {{patient.Persona.Nombre}}
      <!-- The next line refers to a missing member of user, should generate compile error -->
      {{patient.Persona.apellido}}

      
    </div>
  </div>

  

</div>