
/* You can add global styles to this file, and also import other style files */
*{border-radius: 1 !important;}
/* info p {
    text-align:center;
    color: #999;
    text-transform:none;
    font-weight:600;
    font-size:15px;
    margin-top:2px
  }
  
  .info i {
    color:#F6AA93;
  } */
  /* form h1 {
    font-size: 18px;
    background: #F6AA93 none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
    padding: 22px 25px;
    border-radius: 5px 5px 0px 0px;
    margin: auto;
    text-shadow: none; 
    text-align:left
  } */
  


  /* label span  {
    color: #F00;
  }
  
  p span {
    color: #F00;
  }
  
  p {
    margin: 0px;
    font-weight: 500;
    line-height: 2;
    color:#333;
  }
  


  
  
  i {
    color:rgb(114, 54, 54);
  }


  
  .validation {
    display:none;
    margin: 0 0 10px;
    font-weight:400;
    font-size:13px;
    color: #DE5959;
  }
  
  
  
  .raio-if-selected {
    font:bold;
    color: rgb(27, 95, 158);
  }
  .raio-ifnot-selected {
    color: rgb(15, 15, 15);
    font:bold;
  } */