<h2 lass="text-muted">Functional components</h2>
<div class="row">
  <div class="col-12 col-md-4">

    <ul class="list-group">

      <li class="list-group-item ">
        <a class="main-nav-link" [routerLink]="['./patientGrid']" routerLinkActive="active">Patient grid </a>
      </li>
      <li class="list-group-item ">
        <a class="main-nav-link" [routerLink]="['./patientGridTable']" routerLinkActive="active">Patient html table </a>
      </li>


      <li class="list-group-item ">
        <a class="main-nav-link" [routerLink]="['./patientGridTable']" routerLinkActive="active">Patient grid </a>
      </li>


      <li class="list-group-item ">
        <a class="main-nav-link" [routerLink]="['./PatientGridServerSide']" routerLinkActive="active">Grid and pagination server side test </a>
      </li>
      <li class="list-group-item ">
          <a class="main-nav-link" [routerLink]="['./patient_virtualScrolling']" routerLinkActive="active">Cards & virtual scrolling  </a>
        </li>
  

    </ul>

  </div>
</div>




