<div class="form-group">
  <label class="col-lg-2 control-label">Dias programados</label>
  <div class="col-lg-10">
    <label class=" checkbox-inline">
      <input type="checkbox" value="" [(ngModel)] = "chkDays.chkDomingo" (change)="on_chk(1,$event.target.checked)">Domingo</label>

    <label class=" checkbox-inline">
      <input type="checkbox" value=""  [(ngModel)] = "chkDays.chkLunes" (change)="on_chk(2,$event.target.checked)">Lunes</label>

    <label class=" checkbox-inline">
      <input type="checkbox" value=""  [(ngModel)] = "chkDays.chkMartes" (change)="on_chk(4,$event.target.checked)">Martes</label>

    <label class=" checkbox-inline">
      <input type="checkbox" value=""  [(ngModel)] = "chkDays.chkMiercoles" (change)="on_chk(8,$event.target.checked)">Miercoles</label>

    <label class=" checkbox-inline">
      <input type="checkbox" value=""  [(ngModel)] = "chkDays.chkJueves" (change)="on_chk(16,$event.target.checked)">Jueves</label>

    <label class=" checkbox-inline">
      <input type="checkbox" value="" [(ngModel)] = "chkDays.chkViernes" (change)="on_chk(32,$event.target.checked)">Viernes</label>
    <label class=" checkbox-inline">
      <input type="checkbox" value=""  [(ngModel)] = "chkDays.chkSabado"  (change)="on_chk(64,$event.target.checked)"  >Sabado</label>

    <label class=" checkbox-inline">
      <input type="checkbox" value="" [(ngModel)] = "chkDays.chkTodos"  (change)="on_chk(127,$event.target.checked)">Todos</label>
  </div>

  <!-- <label for="" class="col-lg-2">weekdays_to_bin_Array </label>
  <div class="col-lg-4">
      <input class="form-control" [(ngModel)]="weekdays_to_bin_Array"     />
    </div>
 <label for="" class="col-lg-2">resourceSchedulingBE.WeekDays </label>
  <div class="col-lg-4">
      <input class="form-control" [(ngModel)]="resourceSchedulingBE.WeekDays"     />
    </div>
    
  <button class="btn btn-danger" (click)="show()">Mostrar WeekDay Get_WeekDays_BinArray</button> -->
</div>
