<section class="content" ngModelGroup="personCard">
  <app-alert-block #alertBlock1></app-alert-block>

  <div class="row">
    <div class="col-md-6">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">Input masks</h3>
        </div>
        <div class="box-body">
          <div class="form-group">
            <button class="btn btn-default" data-toggle="modal" data-target="#findPersonModal">Buscar Existente</button>
            <img #img2 class="img-rounded img-thumbnail" Width='110' height='110' [src]="fullImagePath" alt="Foto" />
            <!-- 'unsafe:data:image/jpg;base64,' + -->
            <!-- <img #img3  [src]="loadImage()" /> -->
            <div class="btn btn-default" (click)="loadImg()">load img</div>
          </div>
          <div class="form-group ">
            <label class="radio-inline">
              <input type="radio" class="" [checked]="currentPerson.Sexo===0" (click)="onSexChanged(0)" name="sexo">Hombre
            </label>

            <label class="radio-inline">
              <input type="radio" [checked]="currentPerson.Sexo===1" (click)="onSexChanged(1)" name="sexo">Mujer
            </label>

          </div>

          <div class="form-group">
            <label>Nombre
              <span>*</span>
            </label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-user"></i>
              </div>
              <input type="text" name="nombre" class="form-control" #nombre="ngModel" [(ngModel)]="currentPerson.Nombre" required/>
              <small [hidden]="nombre.valid || (nombre.pristine)" class="form-text text-danger">
                El nombre es requerido
              </small>
            </div>
          </div>
          <div class="form-group">
            <label>Apellido
              <span>*</span>
            </label>

            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-user"></i>
              </div>
              <input type="text" name="apellido" #apellido="ngModel" class="form-control" [(ngModel)]="currentPerson.Apellido" required/>
              <small [hidden]="apellido.valid || (apellido.pristine)" class="form-text text-danger">
                El apellido es requerido
              </small>
            </div>
          </div>
        </div>
        <!-- /.box body -->

      </div>
      <!-- /.box -->

    </div>
    <!-- /.col -->


  <!-- /.col (left) -->
  <div class="col-md-6">
    <div class="box box-danger">
      <div class="box-header">
        <h3 class="box-title">Input masks</h3>
      </div>
      <div class="box-body">
        <div class="form-group">
          <label>Tipo documento
            <span>*</span>
          </label>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-address-card-o"></i>
            </div>
            <select name="cmbTipoDocumento" class="form-control" #cmbTipoDocumento [(ngModel)]="currentPerson.TipoDocumento">
              <option *ngFor="let item of tipoDocumentoList" [ngValue]="item.IdParametro.toString()">{{item.Nombre}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label>Nro Documento
            <span>*</span>
          </label>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-building-o"></i>
            </div>
            <input type="text" name="NroDocumento" class="form-control" #NroDocumento="ngModel" placeholder="Nro Documento" (blur)="txtBox_NroDocumento_onBlur()"
              [(ngModel)]="currentPerson.NroDocumento" required />
            <small [hidden]="NroDocumento.valid || (NroDocumento.pristine)" class="form-text text-danger">
              El apellido es requerido
            </small>
          </div>
        </div>


        <div class="form-group">
          <label>Fecha nacimiento
            <span>*</span>
          </label>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <input type="date" name="FechaNacimiento" class="form-control" [ngModel]="currentPerson.FechaNacimiento | date:'yyyy-MM-dd'"
              (ngModelChange)="currentPerson.FechaNacimiento = $event" [value]="datee | date:'yyyy-MM-dd'">

          </div>

        </div>

        <div class="form-group">
          <label class="text-primary">Estado civil
            <span>*</span>
          </label>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-user"></i>
            </div>
            <select name="cmbEstadoCivil" class="form-control" #cmbEstadoCivil [(ngModel)]="currentPerson.IdEstadocivil">
              <option *ngFor="let item of estadoCivilList" [ngValue]="item.IdParametro">{{item.Nombre}}</option>
            </select>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.col -->

  </div>
  <!-- /.row -->

</section>
<!-- /.content -->

<!-- show resourse sheduling modal dialog -->
<div class="modal fade" id="findPersonModal" tabindex="-1" role="dialog" aria-labelledby="findPersonModalLabel">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="findPersongModalLabel">Busqueda de personas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">
        <app-person-grid #appPersonGrid [motivoConsulta]="motivoConsulta" (onPersonGridDoubleClick)="onPersonGridDoubleClick($event)">
        </app-person-grid>
      </div>
      <div class="modal-footer">
        <button #closeBtn type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <!-- <button type="button" class="btn btn-primary" (click)="resource_scheduling_dialog_Acept()">Aceptar</button> -->

      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="findPersonModal" tabindex="-1" role="dialog" aria-labelledby="findPersonModalLabel">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="findPersongModalLabel">Busqueda de personas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button #closeBtn type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" (click)="resource_scheduling_dialog_Acept()">Si</button>

      </div>
    </div>
  </div>
</div>
