<app-person-card [currentPerson]="currentProfesional.Persona" 
(OnComponentError)="OnComponentError_personCard($event)">
</app-person-card>


<app-alert-block #alertBlock_profesional_card></app-alert-block>

<div class="contentform">
  <div class="leftcontact">
    <div class="form-group">
      <p class="text-primary">Especialidad
        <span>*</span>
      </p>
      <span class="icon-case">
        <i class="fa fa-user"></i>
      </span>
      <select name="cmbEspecialidad" class="" style="width: 200px" #cmbEspecialidad [(ngModel)]="currentProfesional.IdEspecialidad">
        <option *ngFor="let item of especialidadList" [ngValue]="item.IdParametro">{{item.Nombre}}</option>
      </select>
    
      <p class="text-primary">Profesion
        <span>*</span>
      </p>
      <span class="icon-case">
        <i class="fa fa-user"></i>
      </span>
      <select name="cmbProfesion" class="" style="width: 200px" #cmbProfesion [(ngModel)]="currentProfesional.IdProfesion">
        <option *ngFor="let item of profesionList" [ngValue]="item.IdParametro">{{item.Nombre}}</option>
      </select>
    
  </div>
  <div class="rightcontact">
    <div class="form-group">
      <p>Matrícula </p>
      <span class="icon-case">
        <i class="fa fa-user"></i>
      </span>
      <input type="text" name="nombre" id="matricula"  [(ngModel)]="currentProfesional.Matricula"/>
      
    </div>
  </div>
</div>


</div>