<form>
    <div class="form-group">
      <label for="rsDescription">Descripcion de la jornada</label>
      <textarea type="text" class="form-control" id="rsDescription" aria-describedby="emailHelp" placeholder="Descripcion"  rows="3" [(ngModel)]="currentResourceScheduling.Description">

      </textarea>
      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
    <div class="form-group">
      <label for="rsDuration">Duración</label>
      <input type="number" lass="form-control"  name="rsDuration"   [(ngModel)]="currentResourceScheduling.Duration"/>
    </div>
    
      
      <app-week-days-check-edit>  </app-week-days-check-edit>
    

    <fieldset class="form-group">
      <legend>Radio buttons</legend>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
          Option one is this and that&mdash;be sure to include why it's great
        </label>
      </div>
      <div class="form-check">
      <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
          Option two can be something else and selecting it will deselect option one
        </label>
      </div>
      <div class="form-check disabled">
      <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
          Option three is disabled
        </label>
      </div>
    </fieldset>
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input">
        Check me out
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
<!-- <div class="contentform">

  <div class="">
    <div class="form-group">
      <p>Descripcion del turno</p>
      <span class="icon-case">
        <i class="fa fa-sticky-note-o"></i>
      </span>
      <input type="text" name="rsDescription"   [(ngModel)]="currentResourceScheduling.Description"/>
      


      <p>Duración del turno</p>
      <span class="icon-case">
        <i class="fa fa-sticky-note-o"></i>
      </span>
      <input type="text" name="rsDuration"   [(ngModel)]="currentResourceScheduling.Duration"/>
      
      <p>Días de la semana</p>
      <span class="icon-case">
        <i class="fa fa-sticky-note-o"></i>
      </span>
      <input type="checkbox" name="chkTodos" (ngModelChange)="on_chkTodos($event.target.checked)"  [(ngModel)]="currentResourceScheduling.Duration"/>
      

      <app-week-days-check-edit>  </app-week-days-check-edit>

      <p>TimeStart</p>
      <span class="icon-case">
        <i class="fa fa-sticky-note-o"></i>
      </span>
      <input type="text" name="rsTimeStart"   [(ngModel)]="currentResourceScheduling.TimeStart"/>

      <p>TimeEnd</p>
      <span class="icon-case">
        <i class="fa fa-sticky-note-o"></i>
      </span>
      <input type="text" name="rsTimeEnd"   [(ngModel)]="currentResourceScheduling.TimeEnd"/>

    </div>
</div> -->