<a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-flag-o"></i>
        <span class="label label-danger">9</span>
      </a>

      <!-- Tasks user list-->
      <ul class="dropdown-menu">
        <li class="header">Tiene {{taskCount}} tareas</li>
        <li>
          <!-- inner menu: contains the actual data -->
          <ul class="menu">
            <!-- Task item -->
            <li *ngFor="let item of tasks" (click)="onSelect(hero)">
            <!-- <li> -->
              <a href="#">
                <h3>
                  {{item.tittle}} 
                  <small class="pull-right">{{item.completedPercent}}%</small>
                </h3>
                <div class="progress xs">

                    <!-- progress priority 
                             progress-bar-aqua,
                             progress-bar-green 
                             progress-bar-red
                            progress-bar-yellow
                   -->
                  <div class="progress-bar progress-bar-aqua" [style.width.px]="{{item.completedPercent}}"  role="progressbar"
                       aria-valuenow="{{item.completedPercent}}" aria-valuemin="0" aria-valuemax="100">
                    <span class="sr-only">{{item.completedPercent}}% completado</span>
                  </div>
                </div>
              </a>
            </li>
            <!-- end task item -->
           
      
         
          </ul>
        </li>
        <li class="footer">
          <a href="#">View all tasks</a>
        </li>
      </ul>
