
<div class="container">
  <div class="col-lg-10">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Listado de obras sociales</h3>

      </div>
      <div class="panel-body">
          <span id="selectedRows"></span>
        <div style="clear: both;"></div>
        <ag-grid-angular style="width: 500px; height: 515px;" class="ag-fresh" 
        [rowData]="mutualList" [columnDefs]="columnDefs"  rowSelection="multiple"
        (cellClicked)="onMedicalInsurance_cellClicked($event)" 
          (rowDoubleClicked)="onMedicalInsurance_rowDoubleClicked($event)"
          (selectionChanged)="onMedicalInsurance_SelectionChanged()"
          (rowClicked)="onMedicalInsurance_RowClicked($event)"></ag-grid-angular>
        
        

      </div>
    </div>
  </div>
</div>