<form class="form-horizontal">
  <div class="form-group ">
    <label for="Street" class="col-lg-2 control-label">Calle </label>
    <div class="col-lg-5">
       <input type="text" class="form-control" name="txtStreet" placeholder="calle" [(ngModel)]="currentPerson.Street">
    </div>
  </div>
  <div class="form-group ">
    <label for="StreetNumber" class="col-lg-2 control-label">Nro </label>
    <div class="col-lg-5">
       <input type="number" class="form-control" name="txtStreetNumber" placeholder="nro" [(ngModel)]="currentPerson.StreetNumber">
    </div>
  </div>
  <div class="form-group ">
    <label for="Floor" class="col-lg-2 control-label">Piso </label>
    <div class="col-lg-5">
       <input type="text" class="form-control" name="txtFloor" placeholder="piso" [(ngModel)]="currentPerson.Floor">
    </div>
  </div>
  <div class="form-group ">
    <label for="Telefono1" class="col-lg-2 control-label">Telefono1 </label>
    <div class="col-lg-5">
       <input type="text" class="form-control" name="txtTelefono1" placeholder="Telefono 1" [(ngModel)]="currentPerson.Telefono1">
    </div>
  </div>
  <div class="form-group ">
    <label for="Telefono2" class="col-lg-2 control-label">Telefono2 </label>
    <div class="col-lg-5">
       <input type="text" class="form-control" name="txtTelefono2" placeholder="telefono 2" [(ngModel)]="currentPerson.Telefono2">
    </div>  
  </div>
</form>