<fieldset ngModelGroup="securityCard" class="">

    <div class="col-md-6">
  <div class="form-group2">
    <!-- <pre *ngIf="username.errors">{{ username.errors | json }}</pre> -->
    <app-alert-block #alertBlock_securityCard></app-alert-block>
  </div>


  <div class="form-group">
    <label>Nombre de usuario</label>
    <input type='text' name='username' class="form-control" [ngModel]='user.username' required #username='ngModel'>
    <small [hidden]='username.valid || (username.pristine )'>
      Username is required (minimum 5 characters).
    </small>
  </div>
    </div>
  <div class="col-md-7">
    <button class="btn btn-primary" (click)='btnCheckUserName_Click()'>Ver disponibilidad</button>
  </div>
  <br>







  <div class="alert-info">
    <div class="col-md-7">

      <div class="form-group">
        <label for="email">e-mail</label>
        <input type="text" name="email" class="form-control" [(ngModel)]="user.email" #email="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">

        <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
          <div [hidden]="!email.hasError('required')">Email is required</div>
          <div [hidden]="!email.hasError('pattern')">Email format should be
            <small>
              <b>joe@gmail.com</b>
            </small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type='password' name='password' class="form-control" [ngModel]='user.password' required #password='ngModel'>
        <small [hidden]='password.valid || (password.pristine )'>
          Password is required
        </small>
      </div>
      <div class="form-group">
        <label>Retype password</label>
        <input type='password' name='confirmPassword' class="form-control" [ngModel]='user.confirmPassword' required validateEqual="password"
          #confirmPassword='ngModel'>
        <small [hidden]='confirmPassword.valid ||  
     (confirmPassword.pristine)'>
          Password mismatch
        </small>
      </div>
    </div>

  </div>


</fieldset>
