<h1>Test app for fwk (SOA) services</h1>

<section class="">
  <div class="">
      <div class="spinner-container" *ngIf="loading">
          <mat-spinner></mat-spinner>
      </div>
    <div accent="primary">
       
      <!-- <ngx-spinner name="spinner2"></ngx-spinner>
      <ngx-spinner name="spinner1" [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
        <p style="font-size: 20px; color: white">Loading...</p>
      </ngx-spinner> -->
    </div>

    <app-error-box-container [globalError]="globalError"></app-error-box-container>

    <div class="search-div">
      <mat-form-field class="search-form-field">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" autocomplete="off">
        <button mat-button matSuffix mat-incon-button aria-label="Clear">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="mat-elevation-z8">
      <mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="Id">
          <mat-header-cell *matHeaderCellDef> Patient Id </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.Id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Nombre">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.Nombre}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="NroDocumento">
          <mat-header-cell *matHeaderCellDef> NroDocumento </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.NroDocumento}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="FechaAlta">
          <mat-header-cell *matHeaderCellDef> FechaAlta </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.FechaAlta}} </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"  ></mat-row>
      </mat-table>
      
      <mat-paginator 
      
      [pageSize]= "pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="onPageChange($event)"   ></mat-paginator>
      

    </div>
  </div>



  <section>